<div class="container">
    <div class="contenido-hero">
        <div class="container-hero">
            <h4>CREA TU ESTILO</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio,
                reiciendis doloremque minima vero animi ad amet veritatis, quae maiores
                necessitatibus illum doloribus aliquam voluptatem perspiciatis est quis
                magni alias voluptate.
            </p>

        </div>
        <img src="/assets/banner.jpg" alt="">
    </div>
    <h3 class="text-center m-3">BUSAS UN REGALO PERFECTO</h3>
    <p class="m-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam blanditiis excepturi officiis magnam harum
        possimus
        repellendus architecto sapiente voluptatem. Fugiat soluta quaerat eveniet reprehenderit assumenda delectus
        consectetur obcaecati dolore eius!
    </p>

    <div class="container-vista">
        <div class="vista m-3">
            <img src="/assets/parejas.jpg" alt=""><br>
            <button mat-flat-button color="accent">Accent</button>
        </div>
        <div class="vista m-3">
            <img src="/assets/parejas.jpg" alt=""><br>
            <button mat-flat-button color="accent">Accent</button>
        </div>
        <div class="vista m-3">
            <img src="/assets/parejas.jpg" alt=""><br>
            <button mat-flat-button color="accent">Accent</button>
        </div>
    </div>
</div>