.container-hero{
    width: 500px;
}

.contenido-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-hero img{
    height: 628;
    transform: rotate(10deg);
}

.container-vista{
    display: flex;
    justify-content: space-between;    
}

.vista img{
    width: 350px;
    height: 400px;
}

.container-somos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenido-somos{
    width: 500px;
}

.container-somos img{
    width: 350px;
    height: 400px;
}