<div class="container mb-3">
  <button class="mb-3 me-3" mat-stroked-button  (click)="onClickAtras()">Atras</button>
  <button class="mb-3" mat-raised-button color="primary" (click)="onClickNuevo()">Nuevo</button>
  <table mat-table [dataSource]="tipos" class="mat-elevation-z2">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let tipo"> {{tipo.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let tipo"> {{tipo.nombre}} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let tipo"> {{tipo.descripcion}} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let tipo"> 
        <button mat-icon-button color="primary" (click)="onClickEditar(tipo.id)">
          <mat-icon>edit</mat-icon>
       </button>
       <button mat-icon-button color="warn" (click)="onClickEliminar(tipo.id)">
          <mat-icon>delete</mat-icon>
       </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>