<div class="container">
    <button mat-button (click)="volver()">Atras</button>
    <div class="col-auto p-5 text-center form-tipos">
        <h2>Formulario Tipo</h2>
        <form action="" [formGroup]="formColor">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Valor Hexadecimal</mat-label>
                <input type="color" matInput formControlName="val_hex">
            </mat-form-field>
            <div >
                <button mat-raised-button (click)="onClickGuardar()" color="primary">Guardar</button>
            </div>
        </form>
    </div>
</div>