<div class="container">
    <h2 class="text-center">SOBRE FORTUNELLA</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, modi doloribus ullam explicabo officia
        delectus nulla maiores fugit ipsa expedita adipisci eveniet cum exercitationem dolorem ad atque hic qui
        voluptatum.
    </p>
    <div class="imagenes">
        <img src="/assets/cadena.jpeg" alt="">
        <img src="/assets/hilo.jpeg" alt="">
        <img src="/assets/letras.jpeg" alt="">
    </div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ab labore blanditiis quaerat illo debitis iure
        magnam, voluptate nihil iste totam eligendi distinctio alias fuga dolor placeat corrupti illum nobis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, rem aspernatur amet repudiandae sint labore
        illum libero neque, tempore quia asperiores velit at dolore exercitationem ratione deserunt dicta veniam quo!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quas accusamus tempore dignissimos nobis
        molestias quidem, nihil incidunt mollitia earum beatae, ipsa dolore eius ea maxime eos illum impedit
        perferendis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo veniam repellendus officia eligendi
        doloribus quos inventore? Adipisci totam doloremque debitis sit error? Voluptatum nostrum fuga harum optio, id
        dolorem.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae nam animi quod neque. Possimus, id delectus
        laborum perferendis, quo explicabo laudantium officia tempore quos sed totam quidem dicta nam. Officia!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ratione, quae totam earum, saepe quis odio,
        dolorum incidunt aliquid similique delectus. Ipsam animi nihil assumenda consectetur vitae nisi ex iusto!
    </p>
    <h3 class="text-end">Con cariño, <br> Fortunella</h3>
</div>